<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Base template{% endblock %}</title>
</head>
<body>
    {% block header %}{% endblock %}
    <div id="content">{% block content %}test{% endblock %}</div>
    <div id="footer">{% block footer %}{% endblock %}</div>
</body>
</html>
