<div id="left" style="margin-right:10px; float:left">
    {% block left_content %}<b>Some default left block</b>{% endblock %}
</div>

<div id="right">
    {% block rihgt_content %}Some default right block{% endblock %}
</div>
